/* ------------------
        OTHER
------------------ */


html * {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

/* CLEARFIX */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* BUTTONS */

.btn {
  padding: .5em;
  border: 1px solid #aaa;
  border-radius: .5em;
  background-color: #fff;
}
.btn:hover {
  background-color: #eee;
}

/* FORMS */

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: .5em;
  background-color: #fff;
}
textarea {
  resize: none;
}

/* ASPECT-RATIO-BOXES */

.aspect-ratio-box {
  position: relative;
  overflow: hidden;
}
.aspect-ratio-box::before {
  display: block;
  content: "";
  width: 100%;
}
.aspect-ratio-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.ar-1-1::before {
  padding-top: 100%;
}
.ar-4-3::before {
  padding-top: 75%;
}
.ar-16-9::before {
  padding-top: 9 / 16 * 100%;
}
.ar-16-10::before {
  padding-top: 10 / 16 * 100%;
}
.ar-2-1::before {
  padding-top: 50%;
}
